body{
    margin: 0;
    background-color: #393E46;
}
h1{
    text-align: center;
    background-color:#00ADB5;
    padding: 20px;
    border-radius: 10px;
}
h3{
    
}
.hs{
    /* padding-right: 150px; */
    margin-right: 300px;
    
}
.score{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.game-box{
    display: inline-grid;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 100vh;
    height: 70vh;
    background-color:black;
}

.square{
    display: block;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}
.blank {
  background: black;
}

.wall {
  border: 1px solid blue;
}

.dot {
  background: white;
  border: 8px solid black;
  border-radius: 50%;
}

.pill {
  background: white;
  border: 5px solid black;
  border-radius: 50%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}
