@font-face {
  font-family: gameFont;
  src: url(fonts/MachineGunk-nyqg.ttf);
}

body{
    font-family: gameFont;
    margin: 0;
    background-color: black;
    letter-spacing: 0.22em;
}
h1{
    text-align: center;
    background-color:#00ADB5;
    font-size: 3em;
    margin-top: 0;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to right,#132C33,#A3D2CA 20%);
}
.start{
  background-color: black;
  color: yellow;
  text-align: center;
  position: absolute;
  top: 53%;
  /* left: 40%; */
  width: 100%;
}
.hs{
    margin-top: 15%;
    width: 15%;
    font-size: xx-large;
    text-align: center;
    color:aqua;
}
.score{
    display: flex;
    justify-content:space-between;
    margin-left: 5%;
    margin-right: 5%;
    height: 80vh;
}
.game-box{
    border: 4px  #51C4D3;
    display: inline-grid;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color:black;
    box-shadow: 0px 0px 20px 5px #A6F0C6;
}

.flip{
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: transform 3s;
}

.square{
    display: block;
}

.scared {
  background: blue !important;
}

.blinky {
  background: red;
}

.pinky {
  background: pink;
}

.inky {
  background: cyan;
}

.clyde {
  background: orange;
}
.blank {
  background: black;
  width: 80%;
  height: 80%;
}

.blank-duplicate{
  background: black;
  width: 80%;
  height: 80%;

}
.wall {
  border: 2px solid black;
  background-color: aqua;
  width: 80%; height: 80%;
}

.dot {
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 25%;
  margin-top: 25%;
   width: 40%;
  height: 40%;
}


.dot-duplicate {
  background: black;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 25%;
  margin-top: 25%;
   width: 40%;
  height: 40%;
}

.pill {
  background:white;
  /* border: 1px solid black; */
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 15%;
  box-shadow: 0px 0px 20px 5px white;
   width: 60%;
  height: 60%;
}

.pill-duplicate{
  background:black;
  /* border: 1px solid black; */
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 15%;
  /* box-shadow: 0px 0px 20px 5px white; */
   width: 60%;
  height: 60%;
}


.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.pacman{
  background: yellow;
  border: none;
  margin-top:10%;
  border-radius: 50%;
  clip-path: polygon(44% 48%, 100% 74%, 100% 100%, 0 100%, 0 0, 100% 0, 100% 21%);
  animation: chew 0.6s linear forwards infinite;
}  
.pacu{
  margin: 10%;
}

@keyframes chew{
  0%{
    clip-path: polygon(44% 48%, 100% 74%, 100% 100%, 0 100%, 0 0, 100% 0, 100% 21%);
  }
   25%{
    clip-path: polygon(44% 48%, 100% 62%, 100% 100%, 0 100%, 0 0, 100% 0, 100% 37%);
  }
  50%{
    clip-path: polygon(44% 48%, 100% 50%, 100% 100%, 0 100%, 0 0, 100% 0, 100% 50%)
  }
   75%{
    clip-path: polygon(44% 48%, 100% 62%, 100% 100%, 0 100%, 0 0, 100% 0, 100% 37%);
  }
   100%{
    clip-path: polygon(44% 48%, 100% 74%, 100% 100%, 0 100%, 0 0, 100% 0, 100% 21%);
  }
}